:root {
    --accent-bgcolor: #0f3460;
    --accent-color: #533483;
    --content-bgcolor: white;
    --accent-highlight: blue;
    /* --font-family: fantasy; */
    --font-color: black;
}

body {
    background: var(--content-bgcolor);
    display: grid;
    grid-template-columns: 250px 2fr;
    grid-template-rows: 60px 1fr;
    height: 100vh;
    margin: 0;
}

header {
    background-color: var(--accent-bgcolor);
    color: #fff;
    grid-column: 1 / 3;
}

.spacer {
    height: 10px;
    background-color: #ccc
}

.sidebar {
    grid-column: 1 / 2;
    background-color: var(--accent-bgcolor);
    color: #fff;
    font-size: large;
}

.sidebar-task, .sidebar-list, .sidebar-nav {
    color: #fff;
    margin-left: 5px;
    padding-left: 10px;
    list-style-type: none;
    border-radius: 8px;
    transition: 1s;
}

.new-project-btn {
    border: none;
    border-radius: 8px;
    color: #fff;
    background-color: var(--accent-bgcolor);
    font-size: large;
    margin-left: 10px;
    padding: 10px;
    transition: 1s;
}

.sidebar-task:hover, .sidebar-nav:hover, .new-project-btn:hover {
    background-color: var(--accent-highlight);
    transition: .3s;
    cursor: pointer;
}

.content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

