:root {
    --accent-bgcolor: #0f3460;
    --accent-color: #533483;
    --content-bgcolor: white;
    --accent-highlight: blue;
    /* --font-family: fantasy; */
    --font-color: black;
}

body {
    background: var(--content-bgcolor);
    display: grid;
    grid-template-columns: 250px 2fr;
    grid-template-rows: 60px 30px 1fr;
    height: 100vh;
    margin: 0;
}

header {
    background-color: var(--accent-bgcolor);
    color: #fff;
    grid-column: 1 / 3;
}

ul {
    padding-left: 10px;
}

.spacer {
    height: 10px;
    background-color: #ccc
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    background-color: var(--accent-bgcolor);
    color: #fff;
    font-size: large;
}

.sidebar-nav {
    color: #fff;
    margin-left: 5px;
    padding-left: 10px;
    border-radius: 8px;
    transition: 1s;
}

.sidebar-task {
    color: #fff;
    margin-left: 10px;
    padding-left: 20px;
    list-style-type: none;
    border-radius: 8px;
    transition: 1s;
}

.new-project-btn {
    border: none;
    border-radius: 8px;
    color: #fff;
    background-color: var(--accent-bgcolor);
    font-size: large;
    width: 80%;
    padding: 10px;
    transition: 1s;
}

.sidebar-nav:hover, .sidebar-task:hover, .new-project-btn:hover, .menu-button:hover {
    background-color: var(--accent-highlight);
    transition: .3s;
    cursor: pointer;
}

.content {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.task-card, .task-list-item {
    margin: 5px;
    border: 3px solid black;
    border-radius: 8px;
    padding: 10px;
}

.menu-container {
    position: relative;
    display: inline-block;
    background-color: var(--accent-bgcolor);
}
    
.menu-content {
    display: none;
    position: absolute;
    color: #fff;
    background-color: var(--accent-bgcolor);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 8px 0;
    z-index: 1;
}

.menu-button {
    background-color: var(--accent-bgcolor);
    border: none;
    padding: 5px;
    cursor: pointer;
    color: #fff;
    border-radius: 16px;
    transition: 1s;
}

/* Creation Modal */
#modal-dialog {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 10px 5px 20px 5px;
    border: 2px solid black;
    border-radius: 16px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.7);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
  